parameters:
    paths:
        - config
        - src
        - tests

    level: max

    scanDirectories:
        - stubs

    bootstrapFiles:
        - vendor/rector/rector/vendor/scoper-autoload.php
